<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="element">
  <div class="overlap">
    <div class="text-wrapper">보험</div>
    <div class="view">
      <div class="overlap-group"><div class="div">로그아웃</div></div>
    </div>
    <img class="image" src="img/image.svg" />
    <div class="overlap-2">
      <div class="text-wrapper-2">보유 보험 내역</div>
      <img class="line" src="img/line-19.svg" />
      <div class="rectangle"></div>
    </div>
    <div class="text-wrapper-3">my</div>
    <div class="text-wrapper-4">상품</div>
    <div class="text-wrapper-5">상품</div>
  </div>
  <div class="overlap-3">
    <div class="join-list">
      <h2>가입한 보험 내역</h2>
      <ul>
        <li>
          <p>하나 사이버범죄금융보상보험(II)</p>
          <p>보장기간: 2024-07-03 ~ 2025-07-03</p>
          <p>보험사고: 일시지급</p>
          <p>총 보험료: 1,000,000원</p>
          <p>현재 보험료: 500,000원</p>
          <button>상세 조회</button>
          <button>결제 내역 변경</button>
        </li>
        <!-- 추가된 보험 내역 -->
      </ul>
    </div>
  </div>
</div>
</body>
</html>
